# CampusChain — Backend Configuration

PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/campuschain

# Blockchain (Hardhat Default)
RPC_URL=http://localhost:8545
ADMIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# IPFS (Not used in current mock implementation)
INFURA_PROJECT_ID=
PINATA_API_KEY=
PINATA_SECRET_KEY=

# Auth
JWT_SECRET=supersecretkey123
OTP_EXPIRY_MINS=10
